body {
  margin-top: 20px;
}

.chat-online {
  color: #34ce57;
}

.chat-offline {
  color: #e4606d;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  /* max-height: 800px;
  overflow-y: scroll; */
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto;
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.home-menu-button {
  position: relative;
}

.home-menu-button ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 100%;
  transform: translateX(-100%);
  background-color: rgba(169, 169, 169, 0.3);
}

.home-menu-button:hover ul {
  display: block;
  /* background-color: rgb(241, 51, 89); */
}
.home-menu-button li {
  background-color: white;
  color: black;
}

.home-menu-button li:hover {
  background-color: crimson;
  color: white;
}
